USE [CEM]
GO
/****** Object:  Table [Migration].[Zeta_RecipientEmail]    Script Date: 24/07/2018 14:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Migration].[Zeta_RecipientEmail](
	[CTIRecipientID] [varchar](512) NULL,
	[Email] [varchar](512) NULL
) ON [PRIMARY]

GO
