USE [CEM]
GO
/****** Object:  StoredProcedure [Migration].[STG_KeyMapping_Zeta_Insert]    Script Date: 24/07/2018 14:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Migration].[STG_KeyMapping_Zeta_Insert]
(
    @userid         INTEGER = 0
)
AS
BEGIN
    SET NOCOUNT ON;

	/**********************************************************************************
	**  Date: 10-08-2016                                                             **
	**                                                                               **
	**  Amendment to support processing of additionl Zeta Prospects:                 **
	**  1. Prevent same ZetaCustomerID being process                                 **
	**  2. To reference field Migration.Zeta_Prospect.FinalMigrateInd rather than    **
	**     Migration.Zeta_Prospect.MigrateInd used to first migration                **
	**                                                                               **
	**********************************************************************************/

	DECLARE @informationsourceid      INTEGER

	DECLARE @spname                 NVARCHAR(256)
	DECLARE @recordcount            INTEGER
	DECLARE @logtimingidnew         INTEGER
	DECLARE @logmessage             NVARCHAR(MAX)

	SELECT @spname = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)

	--Log start time--

	EXEC [Operations].[LogTiming_Record] @userid         = @userid,
	                                     @logsource      = @spname,
										 @logtimingidnew = @logtimingidnew OUTPUT

    --Get Reference Information

	SELECT @informationsourceid = InformationSourceID
    FROM [Reference].[InformationSource]
    WHERE Name = 'Legacy - Zeta'

	IF @informationsourceid IS NULL
	BEGIN
	    SET @logmessage = 'No or invalid @informationsourceid; @informationsourceid = ' + ISNULL(CAST(@informationsourceid AS NVARCHAR(256)),'NULL')
	    
		EXEC [Operations].[LogMessage_Record] @userid          = @userid,
		                                      @logsource       = @spname,
											  @logmessage      = @logmessage,
											  @logmessagelevel = 'ERROR',
											  @messagetypecd   = 'Invalid Lookup'
    END

	--Process the data

	INSERT INTO [Staging].[STG_KeyMapping]
           ([Description]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[LastModifiedDate]
           ,[LastModifiedBy]
           ,[MSDID]
           ,[WebTISID]
           ,[ZetaCustomerID]
           ,[CTIRecipientID]
           ,[CustomerID]
           ,[IndividualID]
           ,[InformationSourceID])
     SELECT NULL
           ,GETDATE()
           ,@userid
           ,GETDATE()
           ,@userid
           ,NULL
           ,NULL
           ,a.ZetaCustomerID
           ,b.CTIRecipientID
           ,NULL
           ,NULL
           ,@informationsourceid
    FROM  Migration.Zeta_Prospect a
    LEFT JOIN Migration.Zeta_KeyMappingCampaign b ON a.ZetaCustomerID = b.ZetaCustomerID
	LEFT JOIN Staging.STG_KeyMapping c ON c.ZetaCustomerID = a.ZetaCustomerID 
	WHERE   a.FinalMigrateInd = 1
	AND     c.ZetaCustomerID IS NULL

	SELECT @recordcount = @@ROWCOUNT

	--Log end time

	EXEC [Operations].[LogTiming_Record] @userid         = @userid,
	                                     @logsource      = @spname,
										 @logtimingid    = @logtimingidnew,
										 @recordcount    = @recordcount,
										 @logtimingidnew = @logtimingidnew OUTPUT    
	RETURN
END











GO
