USE [CEM]
GO
/****** Object:  View [api_competition].[Competition]    Script Date: 24/07/2018 14:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [api_competition].[Competition] AS
    SELECT NULL competitionID,
           NULL Name,
           NULL Description,
           NULL CreateDate,
           NULL StartDate,
           NULL EndDate


GO
