USE [CEM]
GO
/****** Object:  View [api_competition].[CompetitionQuestion]    Script Date: 24/07/2018 14:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [api_competition].[CompetitionQuestion] AS
    SELECT NULL CompetitionID,
           NULL QuestionID,
           NULL QuestionText


GO
